<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a routerLink='/courses' class="navbar-brand">Course Manager</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a routerLink='/courses' routerLinkActive="active" class="nav-link">Todos Cursos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Seus Cursos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/course-opened">Em andamento</a>
                  <a class="dropdown-item" href="#">Encerrados</a>
                </div>                 
              </li>
            <li class="nav-item">
                <a routerLink='/new-course' routerLinkActive="active" class="nav-link">Novo Curso</a>
            </li>
        </ul>
    </div>
</nav>