<div class="container imagem-fundo mt-0">

</div>
<div class="container bg-light">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                    Sorry, an error has occured, Requested page not found!
                <div class="error-actions">
                    <a routerLink="/courses" class="btn btn-primary btn-lg">
                        <i class="fa fa-home"></i> Take Me Home   
                    </a>
                    <a routerLink="/courses" class="btn btn-default btn-lg">
                        <i class="fa fa-envelope"></i>  Contact Support 
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
